
/* #################################
vvv ADD OVERRIDING STYES HERE vvv
################################# */


:root {
    --color-primary: #0046ad;
    --color-secondary: #79A440;
    --color-ternary: #38959F;
    --color-dark-gray: #333D48;
    --color-light-gray: #ECECEC;
}

.topbar {
    color: white;
}
.topbar a {
    color: var(--color-light-gray);
}

.hero {
    background-color: white;
}
#mainheader h1 {
    color: var(--color-primary);


}

.carousel-caption {
    color: var(--color-dark-gray);
    position: static;

}
.mx-w-600 {
    max-width: 600px;
    margin: 0 auto;
}
.mx-w-900 {
    max-width: 900px;
    margin: 0 auto;
}

.survey {
    border: 2px solid var(--color-secondary);
}
.footer-header {
    margin-top: 3rem;
}

#footer {
    background-color: var(--color-dark-gray);
      color: white;
    clear: both;
    margin-top: 20px;
    padding: 20px 0;
  }
  #footer a,
  #footer a:hover {
    color: var(--color-light-gray);
  }
  #footer h1 {
    font-size: 2.8rem;
    margin-top: 7px;
  }
  #footer h2 {
    font-size: 2.4rem;
  }
  
  #footer .socialicon {
    width: 23px;
    height: auto;
    margin-right: 5px;
  }
  
  #footer a.sociallink,
  #footer a.sociallink:hover {
    text-decoration: none;
  }
  
  #spu-section,
  #arts-section {
    background-color: var(--color-light-gray);
  }

  .survey {
    height: 400px;
    border-radius: 5px;
  }

  .subheader-link {
    text-decoration: none;
    color: var(--color-primary);
  }
  .subheader-link:hover {
    text-decoration: underline;
  }